/* regole generali */
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}


#primo{
  /* min-height: 100px; */
  background: lightblue;
}


/* CSS NAVBAR */
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li{
  display: inline;

}

ul a{
  text-decoration: none;
  color: black;
}


#navbarsx{
  margin: 5px;
  vertical-align: middle;
}

#navbardx{
  float: right;
  margin: 5px;
  vertical-align: middle;
}

#home{
  width: 12%;
}

@media screen and (max-width: 768px) {
  #navbardx{
    display: none;
  }

}
/* FINE CSS NAVBAR */

/* CSS PRIMO JUMBOTRON */
#primojumbo{
  background: blue;
  min-height: 200px;
  padding: 20px;
}

input{
  width: 100%;
  display: block;
}

#jumbodx{
  background: white;
}

#createaccount{
  background: lightblue;
}

button{
  width: 100%;
}
/* FINE CSS PRIMO JUMBOTRON */

/* CSS SEZIONE LOGHI */

#sezioneloghi{
  background: lightgrey;
  text-align: center;
}

.loghicentro{
  width: 100%;
}
/* FINE CSS SEZIONE LOGHI */

/* CSS SEZIONE DEPLOY */

#titolideploy{
  text-align: center;
  margin-top: 30px;
}

#udeploy{
  margin-top: 30px;
}

#udeploy li {
  display: block;
}

#sezicone{
  margin-top: 30px;
  text-align: left;
}

/* FINE CSS SEZIONE DEPLOY */

/* CSS PRIMO CAROUSEL */

#carosello{
  background: lightgrey;
  text-align: center;

}


#prop{
  width: 60%;
  margin-top: 50px;
}
