/* regole generali */
*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


#primo{
  /* min-height: 100px; */
  background: lightblue;
}


/* CSS NAVBAR */
ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li{
  display: inline;

}

ul a{
  text-decoration: none;
  color: black;
}


#navbarsx{
  margin: 5px;
  vertical-align: middle;
}

#navbardx{
  float: right;
  margin: 5px;
  vertical-align: middle;
}

#home{
  width: 12%;
}

@media screen and (max-width: 768px) {
  #navbardx{
    display: none;
  }

}
/* FINE CSS NAVBAR */

/* CSS PRIMO JUMBOTRON */
#primojumbo{
  background: blue;
  min-height: 200px;
  padding: 20px;
}


input{
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#jumbosx h1{
  font-size: 60px;
  color: white;
}

#jumbosx h3{
  color: white;
}

#jumbodx{
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  width: 40%;
  margin-left: 70px;
}

#jumbodx i{
  float: left;
}

#jumbodx h2{
  color: blue;

}

#createaccount{
  background: lightblue;
  color: white;
  border-color: lightblue;
}

button{
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* FINE CSS PRIMO JUMBOTRON */

/* CSS SEZIONE LOGHI */

#sezioneloghi{
  background: lightgrey;
  text-align: center;
}

.loghicentro{
  width: 100%;
}
/* FINE CSS SEZIONE LOGHI */

/* CSS SEZIONE DEPLOY */

#titolideploy{
  text-align: center;
  margin-top: 30px;
}

#udeploy{
  margin-top: 30px;
}

#udeploy li {
  display: block;
}

#sezicone{
  margin-top: 30px;
  text-align: left;
}

/* FINE CSS SEZIONE DEPLOY */

/* CSS PRIMO CAROUSEL */

#carosello{
  background: lightgrey;
  text-align: center;

}


#prop{
  width: 60%;
  margin-top: 50px;
}

/* FINE CSS PRIMO CAROUSEL */

/* CSS SEZIONE TRE ICONE */

/* CSS SEZIONE TABELLA */

#tabella{
  background: blue;
}

th, td{
  border-bottom: 1px solid grey;
}
/* FINE CSS SEZIONE TABELLA */

/* CSS SEZIONE GET STARTED */

#started{
  background: blue;
  text-align: center;

}

#started h1{
  color: white;
  margin-top: 30px;
}

#started button{
  width: 20%;
  background: white;
  border-radius: 5%;
  padding: 10px;
  color: lightblue;
  margin-bottom: 30px;
}

/* FINE CSS SEZIONE GET STARTED */

/* CSS FOOTER */

footer{
  background: darkblue;
}

footer li{
  display: block;
}
